page-activity {
  .dialog {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2rem;
    font-weight: 500;
  }

  .activity {
    display: flex;
    justify-content: start;
  }

  .activity.user-activity {
    justify-content: end;
  }



  .user-response {

  }

  .page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .activity-frame {
      padding: 1em;
      flex-grow: 1;
    }
  }

  .input-wrapper {
    align-items: center;
    border-top: 1px solid #f2f2f2;
    padding: 1em;

    input {
      border: none;
      outline: none;
      background: transparent;
      flex-grow: 1;
    }

    button {
      border-radius: 50%;
      padding: 1em;
      font-size: 1.25em;
    }
  }
}
